/* Define layers for Tailwind and PrimeReact */
/* @layer theme, base, primereact, utilities; */

/* PrimeReact theme (choose one, e.g. Lara Light Blue) */
/* @import "primereact/resources/themes/lara-light-blue/theme.css" layer(theme); */

/* PrimeReact core + icons */
/* @import "primereact/resources/primereact.min.css" layer(primereact);
@import "primeicons/primeicons.css" layer(primereact); */

/* Tailwind layers */
/* @import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities); */

/* -----------------------------------
   Define layers for Tailwind + PrimeReact
----------------------------------- */
@layer base, theme, primereact, utilities;

/* Tailwind layers */
@import "tailwindcss" layer(base);
@import "tailwindcss/utilities" layer(utilities);

/* PrimeReact theme (pick one, e.g. Lara Light Blue) */
@import "primereact/resources/themes/lara-light-blue/theme.css" layer(theme);

/* PrimeReact core + icons */
@import "primereact/resources/primereact.min.css" layer(primereact);
@import "primeicons/primeicons.css" layer(primereact);


#lookup_panel .p-overlaypanel-close {
       background: #3b82f6;
  position: absolute !important;
  top: -1rem !important;
  right: -1rem !important;
  z-index: 10 !important;
}